<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Drone Nation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
{{!--<link  href="../node_modules/viewerjs/dist/viewer.css" rel="stylesheet">--}}
{{!--<link rel="icon" href="http://localhost/favicon.ico" />--}}

</head>
<body>
<my-app>Loading...</my-app>

{{!--//use this if you want to load google map api script asynchronously
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuHu1UVfWPVmvvEz4CNuLeoWxcOfmj6os&callback=initMap"
  type="text/javascript"></script>--}}
  

<script src="https://threejs.org/examples/js/loaders/MTLLoader.js"></script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuHu1UVfWPVmvvEz4CNuLeoWxcOfmj6os&callback=initMap"
  type="text/javascript"></script>
<script src="http://mamboleoo.be/learnThree/demos/OBJLoader.js"></script>
   <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.0.2.js"></script>
     {{!--<script src="../node_modules/viewerjs/dist/viewer.js"></script>--}}

  <script src="/js/app/bundle.js"></script>
</body>
</html>
