<!--<img src={{url}} >-->

<!--<div>
  <img id="image" src={{url}} alt="Picture">
</div>-->

<!--<div>
  <ul id="images">
    <li><img src={{url}} alt="Picture"></li>
 
  </ul>
</div>-->
<div *ngIf="!noerror">
    <h1>No output available</h1>
</div>

<div class="gallery" *ngIf="noerror">


<div class="container-fluid">



<div class="row "  style=" height:100%; display: block; ">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

      <div class="col-xs-3 col-md-2 "  style=" height:100%; display: block; ">
      </div>
      <div class="col-xs-3 col-md-8 "  style=" height:90vh;  display:block; padding-top: 15vh;; text-align:center ">
         <h6> <i class="fa fa-search-plus" aria-hidden="true"></i>Click to zoom in</h6>
        <ngx-gallery  [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
       <div class="col-xs-3 col-md-2 "  style=" height:100%; display: block; ">
      </div>
</div>


</div>




</div>