.gallery{
    align-items: center;
    /*margin-top:12vh;*/
   background-color:  #1c2227;
       margin-top: -0.5px;

}
body, html{
        
         height: 100%;
         background-color:  #1c2227;

         }

h6{
    color: white;
}