
<div *ngIf="!noerror">
    <h1>No output available</h1>
</div>



<div *ngIf="noerror" class="zz">
<!--<ng4-loading-spinner> </ng4-loading-spinner>-->

 <div id="map">
 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

 </div>
</div>


