#map {
        width: 100%;
        height: 100vh;
       background-color:  #1c2227;
       position: relative;
      top: -0.1vh;
bottom: 0;
right:0;
left: 0;
;
      
      }

   .zz
   {
/*margin-top: 50vh;
margin-right: 50vw;*/
position: relative;

   }

   .spinner
   {

height: 50px;
width:50px;


   }