body, html{
         height: 100%;
       
    background-color:  #1c2227;
         }

.container-fluid  {
         height: 100%;
       
    
         }

/*outermost div*/

.fullpage
 {
/*position: absolute;*/
top: 0;
bottom: 0;
right:0;
left: 0;
;
   }

/*sidemenu*/
.sidemenu
{

    background-color: #323b44;
}

/*WHOLE BLOCK*/

/*the outer block which contains download as well as view portion*/
.outerblock
{
    height:85%;
    border-radius: 3px;  
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #36404a;
    text-align: center;
    
}
/*the outer block hover which contains download as well as view portion*/
.outerblockhover:hover{
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
   transform: scale(1.08);    
}
/*the outer block selected which contains download as well as view portion*/
.selected
{
     /*filter: brightness(150%);*/
   border-color: #f0f2f4;
    border-style: solid;
    border-width: 2px;

    

}




/*DOWNLOAD AREA*/



/*whole download portion*/
.download
{
 border-radius: 3px;  
 background-color: #3bafda;
  cursor: pointer;
}

/*hover of whole download portion*/
.downloadhover:hover{
background-color:#ffffff;
}



/*download icon*/
.downloadicon{
padding-top: 0.4vmax;


}

/*text of the word download*/
.fontdownload
{
     
      font-size: 0.9vmax;
      /*inline block ensures text doesnt take extra space*/
      display:inline-block;   
      padding-bottom: 5px;
      margin-top: 5px;
      color: #333333;
      font-weight: 600;
}





/*UPPER VIEW AREA*/

/*text of different outputs, example->2d output text*/
.viewtext{

  /*vamx for percentage of the viewport (max of width / height)*/

   font-size: 1.18vmax;   
   /*color: lightgray;
   */
   color: white;
   /*font-weight: 600;*/
}



/*double line text of different outputs,for vegetation and digital terrain*/
.viewtextdouble
{
     font-size: 1.18vmax;   
     color: lightgray;
     margin-bottom: 0px;
       color: white;
     /*font-weight: 600;*/
}



/*vegetation image*/
.vegi{

    height: 4.1vmax;
    width: 5vmax;
}
/*digital terrain image*/
.dti
{
    width: 4vmax;
    height: 3vmax;
    margin-top: 6px;

}
/*elevation imag*/
.eli
{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 9.2px;
    height: 4.5vmax;
    width: 5.2vmax;


}
 /*contour image*/
.contour
{

    height: 3.3vmax;
    width: 3.2vmax;
    padding-top: 0px;

}
 /*2d image*/
.twod
{
        height: 3vmax;
        width: 3.3vmax;
}
 /*3d image*/
.threed
{
        width: 3.5vmax;
        height: 3.5vmax;
}






/*for movement */
.move
{
/*position: fixed;*/



/*make it 90*/
    height: 100vh;
z-index: 100;
margin-left:0px;
}


/*the icon used tush the panel aside*/
 .icon{
    position: absolute;
    top: 46%;
    font-size: 19px !important;
    right: -1.34em;
    box-shadow: rgba(0,0,0,0.16902) 0px 1px 1px 0px, rgba(0,0,0,0.1804) 0px 1px 2px 0px;
    background: #ffffff;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    width: 25px;
    text-align: center;
    border-radius: 0%;
    /* color: black; */
    opacity: 0.5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }



/*right hand side main panel --> where everythig loads ->2d,3d etc*/
.right{

    /*background-color: #000000;*/
    margin:2px,2px,2px,2px;
    /*padding:0,0,0,0;*/
  padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
     background-color:  #1c2227;
}


.eachrow{

    height:26.5%; display: block;
     
}
/*2 rows which are above and below the 3 rows*/
.above
{
height:14.5%; display: block;
/*background-color: #36404a;*/
}
.below
{
height:6%; display: block;
}


.nav {
	/*padding: 35px 0;*/
	/*background-color: #36404a;*/

	position: -webkit-sticky;
    text-align: center;
/*change this to get navbar*/
    height: 10vh; 
    background-color: #1c2227;
   
}

.mainrow
{
     background-color:  #1c2227;
}

#image
{
    max-width: 75vh;
    max-height: 9vh;
      margin-top: 0.6vh;

}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
