	<!--<div class="nav">
           
		<app-logout></app-logout>
	</div>-->

<div class="fullpage">

<div class="container-fluid">



<div class="row  mainrow"  style=" height:100%; display: block; ">




<!--side menu-->
<div class="col-xs-3 col-md-3 sidemenu move " id="navb" style=" display: block; ">
      
      <!--1st part-->
       <div class="row "  style=" height:100%; display: block; ">
       <!--<div class="col-xs-12 col-md-12 firstpart "  style="  height:5%; display: block;">-->

  

      <!--</div>-->
        <!--2nd part-->


       <div class="col-xs-12 col-md-12  "  style="  height:100%; display: block;">
                  <div class="row above" >

                         <app-logout></app-logout>
                        <!--<i class="fa fa-sign-out logout" aria-hidden="true"></i>

<i class="fa fa-angle-double-down logout" aria-hidden="true"></i>-->
                  </div>


<!--1st row (with 2D and 3D)-->

<div class="row eachrow " >

 <!--2d output -->
               <div class="col-xs-6 col-md-6 "  style="  height:100%; display: block; position:relative;"  >
                  
                   <div class="outerblock" [ngClass]="{ 'outerblockhover':(selectedIndex!=='0'),'selected': (selectedIndex === '0') }" >
                            
                           <div class="container-fluid " >

                                    <div class="row"  style=" height:100%; display: block; ">
                                           <!--view portion-->
                                           <div class="col-xs-12 col-md-12 "  style="  height:80%; display: block; " (click)="twoD('0')">

                                                    <h4 class="viewtext"   >2D Map</h4>
                                 
                                                    <img src={{twod_icon}} class="twod">

                                           </div>
                                            <!--download portion-->
                                            <div class="col-xs-12 col-md-12 download downloadhover "  style="  height:20%; display: block;" (click)=" downloadImageoverlay()">

                                                     <i class="fa fa-download downloadicon" aria-hidden="true"></i>

                                                     <h6 class="fontdownload">DOWNLOAD</h6>

                                            </div>
                                      </div>

                                </div>

                           </div>

                  </div>



<!--3D Model--> 

             <div class="col-xs-6 col-md-6 "  style="  height:100%; display: block; position:relative;">
                  
                   <div class="outerblock" [ngClass]="{ 'outerblockhover':(selectedIndex!=='1'),'selected': (selectedIndex === '1') }">
                            
                           <div class="container-fluid ">

                                    <div class="row"  style=" height:100%; display: block; ">
                                           <!--view portion-->
                                           <div class="col-xs-12 col-md-12 "  style="  height:80%; display: block; " (click)="threeD('1')">

                                                    <h4 class="viewtext" >3D Model</h4>
                                 
                                                    <img src={{threed_icon}} class="threed">

                                           </div>
                                            <!--download portion-->
                                            <div class="col-xs-12 col-md-12 download downloadhover "  style="  height:20%; display: block;" (click)="downloadthreed()">

                                                     <i class="fa fa-download downloadicon" aria-hidden="true"></i>

                                                     <h6 class="fontdownload">DOWNLOAD</h6>

                                            </div>
                                      </div>

                                </div>

                           </div>

                  </div>

    </div>



<!--2nd row-->

<div class="row eachrow " >
                  
<!--Contour   -->
            <div class="col-xs-6 col-md-6 "  style="  height:100%; display: block; position:relative;">
                  
                   <div class="outerblock" [ngClass]="{ 'outerblockhover':(selectedIndex!=='2'),'selected': (selectedIndex === '2') }">
                            
                           <div class="container-fluid ">

                                    <div class="row"  style=" height:100%; display: block; ">
                                           <!--view portion-->
                                           <div class="col-xs-12 col-md-12 "  style="  height:80%; display: block; " (click)="contour('2')">

                                                    <h4 class="viewtext" >Contour Map</h4>
                                 
                                                    <img src={{contour_icon}} class="contour">

                                           </div>
                                            <!--download portion-->
                                            <div class="col-xs-12 col-md-12 download downloadhover "  style="  height:20%; display: block;" (click)="downloadcontour()">

                                                     <i class="fa fa-download downloadicon" aria-hidden="true"></i>

                                                     <h6 class="fontdownload">DOWNLOAD</h6>

                                            </div>
                                      </div>

                                </div>

                           </div>

                  </div>


<!--Elevation img 70 70-->
             <div class="col-xs-6 col-md-6 "  style="  height:100%; display: block; position:relative;">
                  
                   <div class="outerblock" [ngClass]="{ 'outerblockhover':(selectedIndex!=='3'),'selected': (selectedIndex === '3') }">
                            
                           <div class="container-fluid ">

                                    <div class="row"  style=" height:100%; display: block; ">
                                           <!--view portion-->
                                           <div class="col-xs-12 col-md-12 "  style="  height:80%; display: block; " (click)="elevation('3')">

                                                    <h4 class="viewtext" >Elevation Map</h4>
                                 
                                                    <img src={{elevation_icon}} class="eli">

                                           </div>
                                            <!--download portion-->
                                            <div class="col-xs-12 col-md-12 download downloadhover "  style="  height:20%; display: block;" (click)="downloadelevation()">

                                                     <i class="fa fa-download downloadicon" aria-hidden="true"></i>

                                                     <h6 class="fontdownload">DOWNLOAD</h6>

                                            </div>
                                      </div>

                                </div>

                           </div>

                  </div>

</div>


<!--3rd row-->


<div class="row eachrow"  >

<!--Vegetation 52 65-->
        <div class="col-xs-6 col-md-6 "  style="  height:100%; display: block; position:relative;">
                  
                   <div class="outerblock" [ngClass]="{ 'outerblockhover':(selectedIndex!=='4'),'selected': (selectedIndex === '4') }">
                            
                           <div class="container-fluid ">

                                    <div class="row"  style=" height:100%; display: block; ">
                                           <!--view portion-->
                                           <div class="col-xs-12 col-md-12 "  style="  height:80%; display: block; " (click)="vegetation('4')">

                                                    <h4 class="viewtextdouble" >Vegetation Map</h4>
                                 
                                                    <img src={{vegetation_icon}} class="vegi">

                                           </div>
                                            <!--download portion-->
                                            <div class="col-xs-12 col-md-12 download downloadhover "  style="  height:20%; display: block;" (click)="downloadvegetation()">

                                                     <i class="fa fa-download downloadicon" aria-hidden="true"></i>

                                                     <h6 class="fontdownload">DOWNLOAD</h6>

                                            </div>
                                      </div>

                                </div>

                           </div>

                  </div>
   
   <!--Digital terrain 40 65-->

         <div class="col-xs-6 col-md-6 "  style="  height:100%; display: block; position:relative;">
                  
                   <div class="outerblock" [ngClass]="{ 'outerblockhover':(selectedIndex!=='5'),'selected': (selectedIndex === '5') }">
                            
                           <div class="container-fluid ">

                                    <div class="row"  style=" height:100%; display: block; ">
                                           <!--view portion-->
                                           <div class="col-xs-12 col-md-12 "  style="  height:80%; display: block; " (click)="digital('5')">

                                                    <h4 class="viewtextdouble" >Digital Terrain Map</h4>
                                 
                                                    <img src={{digital_icon}} class="dti">

                                           </div>
                                            <!--download portion-->
                                            <div class="col-xs-12 col-md-12 download downloadhover "  style="  height:20%; display: block;" (click)="downloaddigital()">

                                                     <i class="fa fa-download downloadicon" aria-hidden="true"></i>

                                                     <h6 class="fontdownload">DOWNLOAD</h6>

                                            </div>
                                      </div>

                                </div>

                           </div>

                  </div>


</div>

<!--LOWER MARGIN-->

     <div class="row below"  >
<!--<h6 style="    color: grey;
    margin-left: 25%;">Copyright © Drone Nation. All rights reserved.</h6>-->

 <!--<h6>All rights reserved</h6>-->


     </div>
 </div>
</div>

 <!--<i class="icon fa fa-chevron-right" > </i> -->

</div>





<!--right hand side-->
<!--little hack-->

<!--<div class="col-xs-12 col-md-3  "  style="  height:100%; display: block;"></div>-->


<div class="col-xs-12 col-md-9  right "  style="  height:100%; display: block;">

          <router-outlet></router-outlet>
  
</div>





</div>



</div>

</div>