<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Not registered yet?</h2>
        <p class="user_unregistered-text">Drone nation tagline here.</p>
        <button class="user_unregistered-signup" id="signup-button"  routerLinkActive="active" id="signup-button" [routerLink]="['signup']">Signup</button>
            <!--<li routerLinkActive="active" id="signup-button" ><a [routerLink]="['signup']">Signup</a></li>-->
      </div>

      <div class="user_options-registered">
        <h1 class="user_registered-title">Already have an account?</h1>
        <h3 class="user_registered-text">Drone nation tagline here.</h3>
        <button class="user_registered-login" routerLinkActive="active"  id="login-button" a [routerLink]="['signin']">Signin</button>
        

            <!--<li routerLinkActive="active"  id="login-button"><a [routerLink]="['signin']">Signin</a></li>-->
      </div>
    </div>
    
    <div class="user_options-forms" id="user_options-forms">
        <img class="logo" src="https://s3.ap-south-1.amazonaws.com/dronenation/drone-nation/public/k.png"/>
<!--change the name of the file-->


        <!--login-->


        
        
        <div class="rowspacing">
      <router-outlet></router-outlet>
 
      </div>




    </div>
  </div>
</section>