<div *ngIf="!noerror">
    <h1>No output available</h1>
</div>


<div *ngIf="noerror" class="threed">
 <ngx-loading [show]="loading2" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
 <!--sketch fab api uncomment to use-->
    <iframe src="" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

</div>
