#api-frame {
        /*width: 100%;
        height: 93vh;
      background-color:  #1c2227;
        border-width: 0;*/



        /*added*/
    width: 100%;
    height: 100vh;
   
    background-color: #323b44;
    /*background-color: #21272d;*/
    border-width: 0;
    /* margin-top: -5px; */
    /*padding-bottom: 55px;
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;*/
}
      


       body {
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: hsl(0, 0%, 10%);
        }
        p {
            margin: 0;
            padding: 0;
        }
        .left,
        .right {
            position: absolute;
            color: #fff;
            font-family: Geneva, sans-serif;
        }
        .left {
            bottom: 1em;
            left: 1em;
            text-align: left;
        }
        .right {
            top: 0;
            right: 0;
            text-align: right;
        }
        a {
            color: #f58231;
        }

        .threed
        {
          position: relative;
                        
      top: -0.1vh;
bottom: 0;
right:0;
left: 0;
      

        }

        .summary
        {
            display: none;
        }