<div class="col-md-12 outer">
     <!--<h4> SIGN IN </h4>-->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <button
                class="btn btn-primary btns"
                type="submit"
                [disabled]="!myForm.valid">SIGN IN </button>
    </form>
</div>