/*.outerdiv
{
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}*/
#image
{
    /*max-width: 75vh;
    max-height: 9vh;*/
    margin-top: 0.6vh;
    position: absolute;
    z-index: 120;
    /* margin-right: 11115px; */
    /* align-items: right; */
    /*right: 15px;
    
    */
    left: 11px;
    width: 100px;
    height: 100px;

   box-shadow: 0px 0px 9px 1px grey

}

.logout
{
    color: white;
        font-size: 35px;
    padding-top: 5px;
}

.side
{
    background-color: #323b44
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.log{


     margin-left: 84%;
    margin-top: 11px;
    color: white;

}

.text
{

    /* display: inline-block; */
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 82%;
    padding-top: 10px;
}

.mo{

 /*margin-left: 10px;*/


}

.log:hover
{

       margin-left: 84%;
    margin-top: 11px;
    color: white;
    font-size:2.2em;
}

