 
  <!--<div class="col-md-1  outerdiv">-->
          <!--<img src="https://s3.ap-south-1.amazonaws.com/dronenation/drone-nation/public/k.png" alt="Smiley face"   id="image"  />-->
         
<!--</div>

  <div class="col-md-1 mo ">
  
 </div>
 <div class="col-md-1  ">
    
 </div>
<div class="col-md-8  ">
</div>
 <div class="col-md-1  mo">-->
  
                             <!--<button type="button" (click)="onLogout()" class="btn btn-default btn-circle btn-lg log"><i class="fa fa-sign-out" aria-hidden="true"></i>
                            </button>
                            <<h6 class="text">Logout</h6>-->
                            
  
 <!--</div>-->


       <!--<button type="button" (click)="onLogout()" class="btn btn-default btn-circle btn-lg log"><i class="fa fa-sign-out" aria-hidden="true"></i>
                            </button>-->
<div>
                             <i class="fa fa-sign-out fa-2x log" aria-hidden="true"   (click)="onLogout()"></i>
                            <h6 class="text">Logout</h6>
</div>
                            <!--<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>-->