
    <router-outlet></router-outlet>
<!--
<div>
  <img id="image" src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg" alt="Picture">
</div>-->
<!--<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>-->

 <!--
     
     <div style='display:inline-block;padding:10px;'>
          <img id="home" height='75px' width='75px'  /> 
      </div>
      
      
      -->