.outer
{
     margin-bottom: 20px;
}




textarea:focus, input:focus{
    outline: none;
      border: 0;
    outline: 0;
    border-bottom: 2px solid #323b44;
    outline:none;
     box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
input{
outline: 0;
    border-bottom: 2px solid lightblue;
      border-top: 0;
    border-left: 0;
    border-right:0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    border-radius:0;
    outline:none;
     
    }

  
select:focus,
 {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.btnss
{
    border-radius: 1px;
}


