


<div class="col-md-12  outer">
         <!--<h4> SIGN UP </h4>-->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName" >First Name</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control "
                    formControlName="firstName">
             




        </div>
        <div class="form-group ">
            <label for="lastName">Last Name</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control "
                    formControlName="lastName">
   
        </div>

        <div class="form-group">

            <label for="email">Mail</label>
            <input
                    type="email"
                    id="email"
                    class="form-control "
                    formControlName="email">




        </div>
        <div class="form-group">
            <label for="password">Password</label>
            
            <input  
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">

     
     
        </div>
       

        <button
                class="btn btn-primary btnss"
                type="submit"
                [disabled]="!myForm.valid">SIGN UP</button>
      
    </form>
</div>

